body,
html {
    margin: 0;
    padding: 0;
    height: 100%;
}

.App {
    display: flex;
    flex-direction: column;
    height: 100%;
}

main {
    flex: 1;
    padding-top: 80px;
}

button {
    color: rgb(134, 134, 250)
}