header {
    background-color: #000000;
    color: white;
    padding: 10px 20px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    display: flex;
    align-items: center;
}

header nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
}

header nav ul li {
    display: inline-block;
}

header nav ul li .logo {
    height: 40px;
    width: auto;
    margin-right: 20px;
    margin-left: 30px;
}

header nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 16px;
}

header nav ul li a.active-link {
    text-decoration: none;
}

.logo {
    height: 90px;
    width: auto;
    margin-right: 20px;
    margin-left: 30px;
}