/* Remove default margin/padding and prevent scroll */
body,
html {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

/* Ensure the header doesn't push content */
header {
    background-color: black;
    padding: 10px 20px;
    width: 100%;
    position: fixed;
}

.nav-links {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
    align-items: center;
    width: 100%;
}

.nav-links li {
    margin-right: 20px;
}

.logout-btn {
    margin-left: auto;
}

.logo {
    height: 40px;
}