.login-page {
    position: relative;
    height: 100%;
}

.home-background {
    background-image: url('../../resources/background1.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.content-container {
    position: relative;
    z-index: 1;
    padding: 20px;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-button {
    border: 2px solid #303d4b;
    background-color: transparent;
    border-radius: 30px;
}

.login-button:hover {
    background-color: #303d4b;
}

.cancel-login-button {
    border: 2px solid #303d4b;
    background-color: transparent;
    border-radius: 30px;
}

.cancel-login-button:hover {
    background-color: #303d4b;
}