.swiper-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 600px;
    position: relative;
    margin: 0 auto;
    padding: 20px;
}

.swiper-slide-content {
    width: 400px;
    height: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    text-align: center;
    padding: 20px;
    box-sizing: border-box;
}

.feature-1 {
    background-color: #303d4b;
    color: #ffffff;
}

.feature-2 {
    background-color: #3a4646;
    color: #ffffff;
}

.feature-3 {
    background-color: #4e3d68;
    color: #ffffff;
}

.feature-4 {
    background-color: #39553e;
    color: #ffffff;
}

.feature-5 {
    background-color: #4b110a;
    color: #ffffff;
}

.sign-up-button-homepage {
    border-radius: 30px;
    border: 2px solid #303d4b;
}

.sign-up-button-homepage:hover {
    background-color: #303d4b;
}

.swiper-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    font-size: 24px;
    cursor: pointer;
    z-index: 10;
}

.prev-button {
    left: 40px;
}

.next-button {
    right: 40px;
}

.prev-button:hover,
.next-button:hover {
    background-color: rgb(84, 84, 204);
}

.swiper-slide {
    display: flex;
    align-items: center;
    justify-content: center;
}


.line-animation-wrapper {
    position: relative;
    width: 100%;
    overflow: hidden;
    margin-top: 60px;
}

.line-animation {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 100px;
    height: 6.5625rem;
    position: relative;
    z-index: 3;
    white-space: nowrap;
    animation: scroll 13s linear infinite;
}

.line-images {
    display: flex;
    align-items: center;
    gap: 45px;
    margin: 0;
}

.line-images img {
    width: 45px;
    height: auto;
    margin: 0;
}

.line_text-animation {
    font-size: 1.5rem;
    color: rgb(252, 87, 186);
    text-align: center;
    margin: 0;
    padding: 0;
    font-size: 2em;
    font-family: 'Arizonia', cursive;
}

.allUsersText {
  font-family: 'Rock Salt', cursive;
  font-size: 1.3rem;
  animation: bounce 2s ease-in-out infinite, colorChange 2s ease-in-out infinite;
}

@keyframes bounce {
    0%, 100% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-10px);
    }
  }
  
  @keyframes colorChange {
    0% {
      color: rgb(217, 119, 242);
    }
    50% {
      color: rgb(119, 51, 187);
    }
    80% {
      color: rgb(222, 68, 153);
    }
    100% {
      color: rgb(218, 84, 251);
    }
  }
  
@keyframes scroll {
    from {
        transform: translateX(100%);
    }

    to {
        transform: translateX(-80%);
    }
}