.team-members-container {
    padding: 15px;
    width: 100%;
    max-width: 300px;
    border-top: 1px solid #444;
    border-bottom: 1px solid #444;
    border-radius: 8px;
    padding-top: 70px;
    padding-right: 80px;
}

.membersContainer {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.team-members-text {
    font-size: 19px;
    color: #e2e8f0;
    font-weight: bold;
}

.members {
    margin-top: 0px;
}

.teamMember {
    padding: 8px;
    border-radius: 20px;
    background-color: #2d3748;
    color: #e2e8f0;
    transition: all 0.3s ease;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.teamMember:hover {
    background-color: #4a5568;
    color: #63b3ed;
}

.memberDetailsOverlay {
    padding: 16px;
    background-color: #2d3748;
    border-radius: 8px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
    z-index: 10;
    position: absolute;
    color: #e2e8f0;
}

.memberDetailsOverlay button {
    margin-top: 10px;
}

.react-calendar {
    margin-top: 20px;
    width: 100%;
    padding: 8px;
    max-width: 100%;
    border-radius: 8px;
    background-color: #1a202c;
    color: white;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.5);
}

.react-calendar__tile {
    border-radius: 4px;
    padding: 10px;
    transition: background-color 0.2s ease-in-out, transform 0.3s ease;
}

.react-calendar__tile:hover {
    background-color: #4a5568;
    transform: scale(1.05);
}

.react-calendar__tile--now {
    background-color: #2b6cb0;
    color: white;
    border-radius: 50%;
}

.react-calendar__tile--weekend {
    background-color: #f56565;
    color: white;
    font-weight: bold;
    transition: background-color 0.2s ease-in-out;
}

.react-calendar__tile--weekend:hover {
    background-color: #c53030;
}

.react-calendar__navigation {
    font-size: 0.85rem;
    padding: 5px;
}

.react-calendar__navigation button {
    font-size: 0.85rem;
    padding: 5px 10px;
}

.custom-calendar-tile {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    max-width: 200px;
}

.calendar-icon-container {
    position: relative;
    display: inline-block;
}

.calendar-icon {
    width: 40px;
    margin-left: 25px;
    transition: transform 0.3s ease;
}

.calendar-icon:hover {
    transform: scale(1.1);
}

.calendar-tooltip {
    visibility: hidden;
    opacity: 0;
    background-color: #2d3748;
    color: #e2e8f0;
    text-align: center;
    border-radius: 6px;
    padding: 5px;
    position: absolute;
    bottom: 100%;
    left: 50%;
    transform: translateX(-50%);
    white-space: nowrap;
    z-index: 1;
    transition: opacity 0.3s ease;
    font-size: 14px;
}

.calendar-icon-container:hover .calendar-tooltip {
    visibility: visible;
    opacity: 1;
}

.CloseButtonChatGpt {
    background-color: #f00101;
    color: white;
    padding: 10px 28px;
    border: none;
    border-radius: 10px;
    font-size: 18px;
    cursor: pointer;
    width: 100%;
}