.react-calendar {
    background-color: #a5a5da;
    border-radius: 12px;
    box-shadow: 0px 6px 18px rgba(0, 0, 0, 0.1);
    font-family: 'Arial', sans-serif;
    margin: 0 auto;
    width: 500px;
    padding-left: 15px;
    margin-top: 50px;
}

.react-calendar__navigation {
    background-color: #6a1b9a;
    color: white;
    font-weight: bold;
    border-radius: 8px;
    display: flex;
    width: 473px;
    margin-top: 20px;
    margin-bottom: 20px;
    justify-content: center;
    align-items: center;
}

.react-calendar__tile{
    background-color: #6a1b9a;
    border: 2px solid white;
}
    

.react-calendar__tile:hover{
    background-color: #3e0660;
    border: 2px solid white;
}
    

.react-calendar__tile--now {
    background-color: #b065eea5;
    color: black;
}

.react-calendar__month-view__weekdays__weekday {
    text-align: center;
    color: black;
    font-family:'Times New Roman', Times, serif;
    font-weight: bold;
}