/* Container for the whole layout */
.teamPageContainer {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100vh;
}

/* Sidebar container */
.sidebar {
    display: flex;
    flex-direction: column;
    width: 150px;
    flex-shrink: 0;
    padding-top: 64px;
    margin-top: 50px;
}

/* Channel sidebar container */
.channelSidebar {
    display: flex;
    flex-direction: column;
    width: 150px;
    flex-shrink: 0;
    padding-top: 64px;
    margin-top: 60px;
}

/* Chat container */
.chatContainer {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 64px;
}

/* Wrapper for chat content */
.chatWrapper {
    width: 100%;
    max-width: 1200px;
    height: 100%;
    max-height: 900px;
}

/* Button container inside sidebar */
.sidebarButtonContainer {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

/* Add border and spacing around each team and channel button */
.teamButton,
.channelButton {
    border: 1px solid #4A5568;
    /* Chakra's gray.600 */
    border-radius: 5px;
}

/* Highlight selected team and channel */
.sidebar .teamButton[data-active="true"],
.channelSidebar .channelButton[data-active="true"] {
    background-color: teal;
    color: white;
}

.createTeamOverlay {
    width: 250px;
}