.start-meeting-container {
    padding: 20px;
    max-width: 600px;
    margin: 0 auto;
    margin-top: 30px;
    text-align: center;
}

.user-list {
    margin-top: 30px;
    margin: 20px 0;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    gap: 10px;
}

.user-item {
    padding: 10px;
    border: 1px solid #4a4242;
    border-radius: 30px;
    cursor: pointer;
    text-align: center;
    background-color: black;
    color: white;
}

.user-item:hover,
.user-item.selected {
    background-color: #1fc9e7;
}

.start-meeting-btn {
    padding: 10px 20px;
    border: none;
    background-color: darkblue;
    color: white;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.start-meeting-btn:hover {
    background-color: blue;
}